<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contacts Capacitor Plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="loadContacts()">
    Load Contacts
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let c of contacts">
      <ion-label>
        {{ c.firstName }} {{ c.lastName }}
        <p>
          {{ c.phoneNumber }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
